terraform {
  required_version = ">= 1.14.0"

  required_providers {
    aws = {
      source  = "hashicorp/aws"
      version = "~> 6.0"
    }
  }

  #  backend "s3" {
  #    bucket = "<bucket name>"
  #    key    = "<see output>
  #    region = "<see output>"
  #
  #    dynamodb_table = "terraform-lock"
  #    encrypt        = true
  #  }
}

provider "aws" {
  #region = "<aws region>"
}
